-r requirements/optional.txt
-r requirements/runtime.txt
-r requirements/tests.txt

requests~=2.26.0
pyyaml~=5.4.1
pillow~=9.0.0
opencv-python~=4.5.3.56
scipy~=1.7.1
setuptools~=52.0.0
wget~=3.2
tqdm~=4.62.3